* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    display: block;
    margin: 5px;
    border-radius: 20px;
}

.fa-heart {
    color: red;
    padding: 0 1px;
}

#game-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#title,
#game-stats {
    display: flex;
    flex-grow: 1;
}

#life-counter,
#timer {
    display: flex;
    align-items: center;
    border: 1px solid black;
    width: 250px;
    margin: 10px;
}

#title {
    align-items: center;
    flex-direction: column;
}

#game-stats {
    justify-content: space-between;
    width: 100%;
}

#life-counter h3, #timer h3 {
    padding: 5px;
}